/* =============
    Newsletter
============= */
@use "../helpers";

#newsletter{
    #newsletter-content{
        background-color: var(--LilyWhite);
        padding: 60px 16px;


        p{
            color: var(grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
        }
    
        form{
    
            input{
                border: none;
                color: var(--Grey);
                font-weight: 600;
    
            }
    
            button{
                border: none;
                background-color: var(--NightBlue);
                color: var(--white);
                font-size: helpers.rem-calc(14);
                font-weight: 600;
    
            }
        }
    }
    }

