/* =============
    Buttons
============= */
@use "../helpers";

a{
    text-decoration: none;
}

.NightBlue.link{
    background-color: var(--NightBlue);
    color: var(--white);
    font-size: helpers.rem-calc(14);
    font-weight: 600;
    text-decoration: none;
    padding: 22px 36px ;
    border-radius: 6px;

    // --code week 4
    display: inline-block;
    // --
}
.NightBlue.btn{
    background-color: var(--NightBlue);
    color: var(--white);
    font-size: helpers.rem-calc(14);
    font-weight: 600;
    text-decoration: none;
    padding: 22px 36px ;
    border-radius: 6px;
    border: none;

    // // --code week 4
    // display: inline-block;
    // // --
}